body{
    background-image: url(https://cstor.nn2.ru/forum/data/forum/files/2018-04/204087989-e12f1266a87f159d9e64a288b5af12cb.jpg);
    margin: auto;
}

.body {
    text-align: center;
    margin: auto;
    max-width: 750px;
}

.ah {
    border: 3px solid rgb(252, 157, 157);
    border-radius: 35px;
    margin-bottom: 30px;
    /* margin-left: 350px;
    margin-right: 350px; */
    /* margin: auto; */
    padding-bottom: 30px;
    /* border-bottom: 25px; */
}

.a {
    margin-bottom: 5px;
    border-bottom: 5px;
}

.photo {
    width: auto;
    height: 250px;
    border-radius: 30px;
    box-shadow: 4px 4px 16px black;
    /* margin: auto; */
    margin-left: 15%;
}

.photo1 {
    width: auto;
    height: 250px;
    border-radius: 30px;
    box-shadow: 4px 4px 16px black;
    /* margin: auto; */
    margin-right: 15%;
}

.top {
    display: flex;
    padding-bottom: 50px;
    padding-top: 30px;
    /* margin: auto; */
}

.info-text {
    padding-left: 25px;
    text-align: center;
    padding-right: 25px;
    margin: auto;
}